*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    justify-content: flex-start;
   align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #114B5F;
    
}
nav li{
    list-style-type: none;
    display: inline-flex;
}

a{
    text-decoration: none;
    color: white;
    padding: 40px;
    margin-left: 40px;
}

.profile h3{
    position: absolute;
    left: 0%;
}
.nav2{
    position: absolute;
    right: 0;
    margin-right: 20px;
    font-weight: 700;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}

.grid-container{
    border: 2px solid black;
    left: 10%;
    height: 40vh;
    width: 20vw;
    
}